<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.zkr.lh.testScript.suit"/>
      <class name="com.zkr.lh.testScript.login"/>
    </classes>
  </test>
  
    <test thread-count="5" name="Test2">
    <classes>
      <class name="com.zkr.lh.testScript.suit"/>
      <class name="com.zkr.lh.testScript.paytest"/>
    </classes>
  </test>
</suite> <!-- Suite -->
