<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.lh.practice.testng.suit.suitConfig"/>
      <class name="com.lh.practice.testng.suit.loginTest"/>
    </classes>
  </test>
  
    <test thread-count="5" name="Test2">
    <classes>
      <class name="com.lh.practice.testng.suit.suitConfig"/>
      <class name="com.lh.practice.testng.suit.payTest"/>
    </classes>
  </test>
</suite> <!-- Suite -->
