<?xml version="1.0" encoding="UTF-8"?>
<suit name="fqzTest">
	<test name="testSuit">
		<classes>
			<class
				name="/testFqz/src/com/zkr/lh/fqz/testScript/testFqz.java"></class>
		</classes>
	</test>
	<listeners>
		<listener
			class-name="com.zkr.lh.fqz.toolkit.ExtentTestNGIReporterListener"></listener>
	</listeners>

</suit>